#bottom_nav {
    background-color: rgb(235, 235, 235);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

#bottom_nav a {
    float: center;
    display: block;
    color: #000000;
}

#bottom_nav a:hover {
    background: #f1f1f1;
    color: black;
}

#bottom_nav a.active {
    background-color: rgb(87, 87, 87);
    color: white;
    padding: 2%;
    border-radius: 10%;
}