#bottom_nav {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(234, 248, 255);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    height: 3.5em;
}

#bottom_nav a {
    margin: 1em;
    float: center;
    display: block;
    color: #505050;
}

#bottom_nav a.active {
    color: #ffd06c;
}