body {
    background-color: rgba(222, 238, 223, 0.562);
    overflow: scroll;
}

.header {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

.receitas {
    width: 100%;
    height: 100%;
}

.receita_individual {
    margin-top: 0.5rem;
    width: 100%;
    height: 10rem;
}

.dificuldade_receita {
    margin-top: 7%;
    font-family: "Libre Baskerville", serif;
    font-size: 1.2rem;
    text-align: center;
    color: #7a7c7f;
    text-shadow: 0 1px 1px #fff;
}

.receita_imagem {
    margin-top: 6%;
    margin-bottom: 4%;
    width: auto;
    height: 8rem;
}

.titulos_receita {
    margin-top: 10%;
    color: rgba(19, 17, 17, 0.637);
    font-family: "Great Vibes", cursive;
    font-size: large;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
}

.dificuldade_estrelas {
    text-align: center;
    margin-top: 5%;
    
}